*{
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    color: black;

    font-family: 'DM Sans', sans-serif;
}

a{
    cursor: pointer;
}

ol, ul {
    list-style: none;
  }

body{
    margin: 40px auto;
    max-width: 1300px;
    justify-content: center;
}

/* HEADER */

header img{
    width: 250px;
    margin-bottom: 50px;
}

/* MAIN */

main{
    margin: 0 auto;
}
#photographer{
    padding: 50px;
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.photographer__image img{
 width: 150px;
 height: 150px;
 object-fit: cover;
 clip-path: circle(50%);
 display: flex;
 justify-content: center;
 vertical-align: center;
 position: absolute;
 right: 50px;
 top: 50px;
}

h2{
    font-size: 50px;
    color: #D3573C;
    margin-top: 5px;
}


.photographer__text__location{
    font-size: 20px;
    color: #901C1C;
    margin-bottom: 2px;
}

.photographer__text__leitmotiv{
    font-size: 12px;
    margin-bottom: 10px;
}

.photographer__content__text_wrapper{
    display: flex;
    justify-content: space-between;
    color: #901C1C;
    margin-top: 4px;
}

.nbr_of_likes{
    color: #901C1C;
}

.tag {
    color: #901C1C;
    padding: 5px;
    border: 0.5px solid;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    margin-right: 6px;
}

.photographer__contacter{
    background-color: #901C1C;
    height: 50px;
    border-radius: 5px;
    color: white;
    padding: 15px 10px;
    margin-top: 10px;
    cursor: pointer;
}

.photographer__content{
    max-width: 1300px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 120px;
    margin: 0 auto 60px auto;
}

.photographer__content__article{
    padding-bottom: 10px;
}

.photographer__content__article img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}


/* PHOTOGRAPHY CONTENT */
/* PHOTOGRAPHY CONTENT */
/* PHOTOGRAPHY CONTENT */

article{
    cursor: pointer;
}


.photographer_content_post{
    color: #901C1C;
    font-size: 20px;
}

.photographer_content_likes img{
    height: 13px;
    width: 13px;
    border-radius: 0;
    fill: #901C1C;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

.photographer_statistics{
    background-color: #DB8876;
    color: black;
    width: 300px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 200px;
    padding: 15px 25px;
}

.photographer_statistics img{
    height: 20px;
    padding-top: 5px;
}

/* TRIER PAR */
/* TRIER PAR */
/* TRIER PAR */

/* TRIER PAR

.photographer__trier{
    text-decoration: none;
    margin: 20px 0 40px 0;
}

#trier_par{
    background-color: #901C1C;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
}
.trier_par option{
    border-top: 1px solid white;
    border-color: transparent transparent white transparent;
}

 */

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    background-color: #901C1C;
    border-radius: 5px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #901C1C;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: white transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent white transparent;
    top: 7px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: white;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent white transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #901C1C;
    border-radius: 0 0 5px 5px;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }
  